<div id="<%= dom_id flat %>">
  <h4>
    <%= flat.name %>
  </h4>

  <p>
    <%= flat.address %>
  </p>

  <p>
    <i class="fa-solid fa-pound-sign"></i>
    <%= flat.price_per_night %>
    &nbsp&nbsp
    <i class="fa-solid fa-people-line"></i>
    <%= flat.number_of_guests %>
  </p>

</div>
